<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Dinosaurs Code</title>
  <meta name = "viewport" content = "initial-scale=1, maximum-scale=1, user-scalable=no">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
  <link rel="stylesheet" href="/css/contactcss.css">

</head>
<body>

<% include templates/header %>

    <div class = "container">
      <div class = "row" style = "height: 500px;">
        <div class = "col s12">
          <h1 class = "center-align" style = "line-height:200px;">Contact</h1>
        </div>
        <div class = "col s12">
          <p class ="center-align grey-text" style = "line-height:100px;">dinosaurscode@gmail.com</p>
        </div>
      </div>

    </div>

<% include templates/footer %>

</body>
</html>
