<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Dinosaurs Code</title>
  <meta name = "viewport" content = "initial-scale=1, maximum-scale=1, user-scalable=no">
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
  <link rel="stylesheet" href="/css/homepagecss.css">

</head>
<body>

<% include templates/header %>

    <div class = "container">
      <div class = "row">
        <div class = "col s12">
          <h1 class = "center-align">Learn to program!</h1>
          <p class = "grey-text lighten-2 center-align">With easy to follow code.</p>
        </div>
      </div>

      <div class = "row">
        <div class = "col s12 m6">
          <div class = "card blue-grey lighten-5">
            <div class = "card-content grey-text darken-4">
              <span class = "card-title">NodeJS</span>
              <p>Try these simple to follow NodeJS programs.</p>
              <a class="waves-effect waves-light btn-large light-blue darken-1" href = "/tutorials/node/1">Try!</a>
            </div>
          </div>
        </div>
      </div>


    </div>

<% include templates/footer %>

</body>
</html>
