<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Dinosaurs Code</title>
  <meta name = "viewport" content = "initial-scale=1, maximum-scale=1, user-scalable=no">
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/animatecss/3.5.1/animate.min.css">
  <link rel="stylesheet" href="/css/homepagecss.css">

</head>
<body>

  <!-- Dropdown Structure -->
  <ul id="dropdown1" class="dropdown-content style-dropdown">
    <li><a href="/tutorials/node/1" class = "waves-effect waves-teal">Tutorials</a></li>
    <li class = "divider"></li>
    <li><a href="/contact" class = "waves-effect waves-teal">Contact</a></li>
  </ul>

    <nav>
      <div class = "nav-wrapper grey darken-4">
        <a href="/"><i class = "home-icon material-icons left">home</i></a>
        <a href="#" class = "brand-logo center">DinosaursCode</a>
        <ul class="right">
          <!-- Dropdown Trigger -->
          <li><a class="dropdown-button" href="#!" data-activates="dropdown1"><i class="material-icons right">more_vert</i></a></li>
        </ul>


      </div>
    </nav>

    <div class = "container">
      <div class = "row">
        <div class = "col s12">
          <h1 class = "center-align">Learn to program!</h1>
          <p class = "grey-text lighten-2 center-align">With easy to follow code.</p>
        </div>
      </div>

      <div class = "row">
        <div class = "col s12 m6">
          <div class = "card blue-grey lighten-5">
            <div class = "card-content grey-text darken-4">
              <span class = "card-title">NodeJS</span>
              <p>Try these simple to follow NodeJS programs.</p>
              <a class="waves-effect waves-light btn-large light-blue darken-1" href = "/tutorials/node/1">Try!</a>
            </div>
          </div>
        </div>
      </div>


    </div>


  <footer class = "page-footer teal grey darken-4">
    <div class = "container">
      <div class = "row">
        <div class = "col s12 center-align">
          <a href="https://github.com/xDinomode/dino-website"><img src="/img/gh32px.png" alt=""></a>
        </div>
        <div class = "col s12 center-align">
          <p class = "white-text">If you found anything useful, donate <i class = "material-icons">favorite</i></p>
          <a href="/contact">contact</a>
        </div>
      </div>
      <div class = "footer-copyright">
        <div class = "container">
          <div class = "col s12 center-align">

            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
              <input type="hidden" name="cmd" value="_s-xclick">
              <input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----MIIHTwYJKoZIhvcNAQcEoIIHQDCCBzwCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYClDKTaZ/WJRxEEzLePyqPF5xWzxUhzKFVQrn3lKyVJjDVdv8aaROaZEfHk17soneRvhePML088Io2iFPia57ItH1wDJwxoaZMqfJEM08Qnmta/f/2+O0539IAZsUhlYWJEoM+rWeW4aDPsBzJbakYVqcXbnlKhcZRd6DAzztYdtjELMAkGBSsOAwIaBQAwgcwGCSqGSIb3DQEHATAUBggqhkiG9w0DBwQIAuUL+xmTQs6AgajgWAcC6o+QdWorjMd6sWLc8m0NeprriJeRDb9Or7kGWfThjkTH97hxeDmxaBw90iyEXLqms8Q5CHLnFXoHbHrkzQbLKkyhcvriRycnY+B/logti7WVakZxk7ucrHSGCVYdiUqGTm6A8C9VyKgYOPgFjYJfyW4jgtIef6IGRb5pRG+wKRD9QtM4LqcijwKvDy8jFcpSZ3XRnCCMD1H1g2TpTET+o3ZXDsegggOHMIIDgzCCAuygAwIBAgIBADANBgkqhkiG9w0BAQUFADCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20wHhcNMDQwMjEzMTAxMzE1WhcNMzUwMjEzMTAxMzE1WjCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20wgZ8wDQYJKoZIhvcNAQEBBQADgY0AMIGJAoGBAMFHTt38RMxLXJyO2SmS+Ndl72T7oKJ4u4uw+6awntALWh03PewmIJuzbALScsTS4sZoS1fKciBGoh11gIfHzylvkdNe/hJl66/RGqrj5rFb08sAABNTzDTiqqNpJeBsYs/c2aiGozptX2RlnBktH+SUNpAajW724Nv2Wvhif6sFAgMBAAGjge4wgeswHQYDVR0OBBYEFJaffLvGbxe9WT9S1wob7BDWZJRrMIG7BgNVHSMEgbMwgbCAFJaffLvGbxe9WT9S1wob7BDWZJRroYGUpIGRMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbYIBADAMBgNVHRMEBTADAQH/MA0GCSqGSIb3DQEBBQUAA4GBAIFfOlaagFrl71+jq6OKidbWFSE+Q4FqROvdgIONth+8kSK//Y/4ihuE4Ymvzn5ceE3S/iBSQQMjyvb+s2TWbQYDwcp129OPIbD9epdr4tJOUNiSojw7BHwYRiPh58S1xGlFgHFXwrEBb3dgNbMUa+u4qectsMAXpVHnD9wIyfmHMYIBmjCCAZYCAQEwgZQwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tAgEAMAkGBSsOAwIaBQCgXTAYBgkqhkiG9w0BCQMxCwYJKoZIhvcNAQcBMBwGCSqGSIb3DQEJBTEPFw0xNTEyMTAyMjUzNDBaMCMGCSqGSIb3DQEJBDEWBBSaL3/RlfMsfD5sfOijZKQrtxGBDjANBgkqhkiG9w0BAQEFAASBgJbc1XQ9na2jQb6l+QHYf69zhhaMiwVdHx4qaX9S6QiyotrXf/ONdTqlEqxvsag1JFLH5AhhI+nsMuCBg5lSOhWwvzKwu5jcbDJw+SUPX4ynSzL31MPf70c+im0WsMCJIgBYnBSxs+ad6p5kZV5VQUaCIt+mRJjBsyxm8huC/jV4-----END PKCS7-----">
              <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
              <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
            </form>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <script>
    function aaa(){
      $(".aaa").addClass("animated bounceInLeft");
    }
    function xxx(){
      $(".xxx").addClass("animated bounceInLeft");
    }
    function yyy(){
      $(".yyy").addClass("animated bounceInLeft");
    }
    var options = [
      {selector: ".aaa", offset: 60, callback: "aaa()"},
      {selector: ".xxx", offset: 60, callback: "xxx()"},
      {selector: ".yyy", offset: 60, callback: "yyy()"}
    ];
    Materialize.scrollFire(options);
  </script>
</body>
</html>
