<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Dinosaurs Code</title>
  <meta name = "viewport" content = "initial-scale=1, maximum-scale=1, user-scalable=no">
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/animatecss/3.5.1/animate.min.css">
  <link rel="stylesheet" href="/css/indexcss.css">

</head>
<body>

  <!-- Dropdown Structure -->
  <ul id="dropdown1" class="dropdown-content style-dropdown">
    <li><a href="/tutorials/node/1" class = "waves-effect waves-teal">Tutorials</a></li>
    <li class = "divider"></li>
    <li><a href="/contact" class = "waves-effect waves-teal">Contact</a></li>
  </ul>

    <nav>
      <div class = "nav-wrapper grey darken-4">
        <a href="/"><i class = "home-icon material-icons left">home</i></a>
        <a href="#" class = "brand-logo center">DinosaursCode</a>
        <ul class="right">
          <!-- Dropdown Trigger -->
          <li><a class="dropdown-button" href="#!" data-activates="dropdown1"><i class="material-icons right">more_vert</i></a></li>
        </ul>


      </div>
    </nav>

    <div class = "container">
      <div class = "row">
        <div class = "col s12">
          <h1 class = "center-align">Learn <span class = "green-text text-accent-2">NodeJS</span></h1>
        </div>
      </div>

      <div class = "row">
        <div class = "col s12">
          <div class = "collection">
            <a href="#httpserver" class = "collection-item">Basic http server</a>
            <a href="#httprequest" class = "collection-item">Basic http request</a>
            <a href="#httprequestimage" class = "collection-item">Download an image from imgur!</a>
            <a href="#httpresponsehtml" class = "collection-item">Serve html from your server</a>
          </div>
        </div>
      </div>


    <div class = "row">
      <div class = "col s12" id = "httpserver">
        <h3>Basic http server</h3>
      </div>
      <div class = "col s12">
        <p>NodeJS provides us with helpful modules out of the box. One of these is called http. Using http
        we can start up a server that will respond with a greeting.</p>
        <pre class = "card panel grey darken-4">
          <code>
<span class = "red-text lighten-1">var</span> http = <span class = "yellow-text lighten-1">require</span>(<span class = "green-text text-accent-3">"http"</span>);

http.createServer(<span class = "red-text lighten-1">function</span>(req, res){
  res.<span class = "yellow-text lighten-1">write</span>(<span class = "green-text text-accent-3">"Hello there!"</span>);
  res.end();
}).listen(<span class = "blue-grey-text lighten-4">3000</span>);
          </code>
        </pre>
      </div>

      <div class = "col s12" id = "httprequest">
        <h3>Basic http request</h3>
      </div>
      <div class = "aaa col s12">
        <p>We can use the http module to make requests for webpages.</p>
        <pre class = "card panel grey darken-4">
          <code>
<span class = "red-text lighten-1">var</span> http = <span class = "yellow-text lighten-1">require</span>(<span class = "green-text text-accent-3">"http"</span>);

http.request({
  host: <span class = "green-text text-accent-3">"example.com"</span>,
  path: <span class = "green-text text-accent-3">"/"</span>
}, <span class = "red-text lighten-1">function</span>(response){
  <span class = "red-text lighten-1">var</span> webpage = <span class = "green-text text-accent-3">" "</span>;
  response.on(<span class = "green-text text-accent-3">"data"</span>, <span class = "red-text lighten-1">function</span>(data){
    webpage += data;
  });
  response.on(<span class = "green-text text-accent-3">"end"</span>, <span class = "red-text lighten-1">function</span>(){
    <span class = "blue-grey-text lighten-4">console</span>.<span class = "yellow-text lighten-1">log</span>(webpage);
  });
}).end();
          </code>
        </pre>
      </div>

      <div class = "col s12" id = "httprequestimage">
        <h3>Basic image download using http request</h3>
      </div>
      <div class = "xxx col s12">
        <p>Let's use <span class = "red-text lighten-1">http.request</span> to fetch an image and then we'll use another module named <span class = "red-text lighten-1">fs</span> to save that image.</p>
        <pre class = "card panel grey darken-4">
          <code>
<span class = "red-text lighten-1">var</span> http = <span class = "yellow-text lighten-1">require</span>(<span class = "green-text text-accent-3">"http"</span>);
<span class = "red-text lighten-1">var</span> fs = <span class = "yellow-text lighten-1">require</span>(<span class = "green-text text-accent-3">"fs"</span>);

<span class = "red-text lighten-1">var</span> writeStream = fs.createWriteStream(<span class = "green-text text-accent-3">"ourImage.jpg"</span>);

http.request({
  host: <span class = "green-text text-accent-3">"i.imgur.com"</span>,
  path: <span class = "green-text text-accent-3">"/gmRbksB.jpg"</span>
}, <span class = "red-text lighten-1">function</span>(response){
  response.on(<span class = "green-text text-accent-3">"data"</span>, <span class = "red-text lighten-1">function</span>(data){
    writeStream.<span class = "yellow-text lighten-1">write</span>(data);
  });
}).end();
          </code>
        </pre>
      </div>

      <div class = "col s12" id = "httpresponsehtml">
        <h3>Serving html with your server</h3>
      </div>
      <div class = "yyy col s12">
        <p>Here we'll create a readable stream that pipes everything out into the response. Make sure to create an index.html file where this file is located.</p>
        <pre class = "card panel grey darken-4">
          <code>
<span class = "red-text lighten-1">var</span> http = <span class = "yellow-text lighten-1">require</span>(<span class = "green-text text-accent-3">"http"</span>);
<span class = "red-text lighten-1">var</span> fs = <span class = "yellow-text lighten-1">require</span>(<span class = "green-text text-accent-3">"fs"</span>);

http.createServer(<span class = "red-text lighten-1">function</span>(req, res){
    <span class = "red-text lighten-1">var</span> html = fs.createReadStream(<span class = "green-text text-accent-3">"index.html"</span>);
    html.pipe(res);
    html.on(<span class = "green-text text-accent-3">"end"</span>, <span class = "red-text lighten-1">function</span>(){
      res.end();
    });
}).listen(<span class = "blue-grey-text lighten-4">4000</span>);


          </code>
        </pre>
      </div>

      <div class = "row">
        <div class = "col s6">
          <div class = "card-panel red">
            <span class = "white-text">Site under construction! More lessons to come...</span>
          </div>
        </div>
      </div>
    </div>

    </div>


  <footer class = "page-footer teal grey darken-4">
    <div class = "container">
      <div class = "row">
        <div class = "col s12 center-align">
          <a href="https://github.com/xDinomode/dino-website"><img src="/img/gh32px.png" alt=""></a>
        </div>
        <div class = "col s12 center-align">
          <p class = "white-text">If you found anything useful, donate ;)</p>
        </div>
      </div>
      <div class = "footer-copyright">
        <div class = "container">
          <div class = "col s12 center-align">

            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
              <input type="hidden" name="cmd" value="_s-xclick">
              <input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----MIIHTwYJKoZIhvcNAQcEoIIHQDCCBzwCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYClDKTaZ/WJRxEEzLePyqPF5xWzxUhzKFVQrn3lKyVJjDVdv8aaROaZEfHk17soneRvhePML088Io2iFPia57ItH1wDJwxoaZMqfJEM08Qnmta/f/2+O0539IAZsUhlYWJEoM+rWeW4aDPsBzJbakYVqcXbnlKhcZRd6DAzztYdtjELMAkGBSsOAwIaBQAwgcwGCSqGSIb3DQEHATAUBggqhkiG9w0DBwQIAuUL+xmTQs6AgajgWAcC6o+QdWorjMd6sWLc8m0NeprriJeRDb9Or7kGWfThjkTH97hxeDmxaBw90iyEXLqms8Q5CHLnFXoHbHrkzQbLKkyhcvriRycnY+B/logti7WVakZxk7ucrHSGCVYdiUqGTm6A8C9VyKgYOPgFjYJfyW4jgtIef6IGRb5pRG+wKRD9QtM4LqcijwKvDy8jFcpSZ3XRnCCMD1H1g2TpTET+o3ZXDsegggOHMIIDgzCCAuygAwIBAgIBADANBgkqhkiG9w0BAQUFADCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20wHhcNMDQwMjEzMTAxMzE1WhcNMzUwMjEzMTAxMzE1WjCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20wgZ8wDQYJKoZIhvcNAQEBBQADgY0AMIGJAoGBAMFHTt38RMxLXJyO2SmS+Ndl72T7oKJ4u4uw+6awntALWh03PewmIJuzbALScsTS4sZoS1fKciBGoh11gIfHzylvkdNe/hJl66/RGqrj5rFb08sAABNTzDTiqqNpJeBsYs/c2aiGozptX2RlnBktH+SUNpAajW724Nv2Wvhif6sFAgMBAAGjge4wgeswHQYDVR0OBBYEFJaffLvGbxe9WT9S1wob7BDWZJRrMIG7BgNVHSMEgbMwgbCAFJaffLvGbxe9WT9S1wob7BDWZJRroYGUpIGRMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbYIBADAMBgNVHRMEBTADAQH/MA0GCSqGSIb3DQEBBQUAA4GBAIFfOlaagFrl71+jq6OKidbWFSE+Q4FqROvdgIONth+8kSK//Y/4ihuE4Ymvzn5ceE3S/iBSQQMjyvb+s2TWbQYDwcp129OPIbD9epdr4tJOUNiSojw7BHwYRiPh58S1xGlFgHFXwrEBb3dgNbMUa+u4qectsMAXpVHnD9wIyfmHMYIBmjCCAZYCAQEwgZQwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tAgEAMAkGBSsOAwIaBQCgXTAYBgkqhkiG9w0BCQMxCwYJKoZIhvcNAQcBMBwGCSqGSIb3DQEJBTEPFw0xNTEyMTAyMjUzNDBaMCMGCSqGSIb3DQEJBDEWBBSaL3/RlfMsfD5sfOijZKQrtxGBDjANBgkqhkiG9w0BAQEFAASBgJbc1XQ9na2jQb6l+QHYf69zhhaMiwVdHx4qaX9S6QiyotrXf/ONdTqlEqxvsag1JFLH5AhhI+nsMuCBg5lSOhWwvzKwu5jcbDJw+SUPX4ynSzL31MPf70c+im0WsMCJIgBYnBSxs+ad6p5kZV5VQUaCIt+mRJjBsyxm8huC/jV4-----END PKCS7-----">
              <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
              <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
            </form>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <script>
    function aaa(){
      $(".aaa").addClass("animated bounceInLeft");
    }
    function xxx(){
      $(".xxx").addClass("animated bounceInLeft");
    }
    function yyy(){
      $(".yyy").addClass("animated bounceInLeft");
    }
    var options = [
      {selector: ".aaa", offset: 60, callback: "aaa()"},
      {selector: ".xxx", offset: 60, callback: "xxx()"},
      {selector: ".yyy", offset: 60, callback: "yyy()"}
    ];
    Materialize.scrollFire(options);
  </script>
</body>
</html>
