<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content style-dropdown">
  <li><a href="/tutorials/node/1" class = "waves-effect waves-teal">Tutorials</a></li>
  <li class = "divider"></li>
  <li><a href="/contact" class = "waves-effect waves-teal">Contact</a></li>
</ul>

<nav>
  <div class = "nav-wrapper grey darken-4">
      <a href="/"><i class = "home-icon material-icons left">home</i></a>
      <a href="#" class = "brand-logo left">DinosaursCode</a>
      <ul class="right">
      <!-- Dropdown Trigger -->
      <li class = "right"><a class="dropdown-button" href="#!" data-activates="dropdown1"><i class="material-icons right">more_vert</i></a></li>
      <% if(user != null){%>
        <li><a href=""><%= user.username %></a></li>
        <li><a href="/logout">logout</a></li>
      <% } %>
      <% if(user == null) {%>
        <li class = "right"><a href="/login">Login</a></li>
        <li class = "right"><a class = "btn" href="/signup">SignUp</a></li>
      <% }%>
    </ul>
  </div>
</nav>
