body{

}
p{
  font-size: 1.5em;
}

pre{
  color: #fff;
  padding-left: 10px;
}
code{
  font-family: Roboto, Helvetica, sans-serif, Arial;
  font-size: 1.0625em;
}

.style-dropdown{
  color:#fff;
}
.style-dropdown li a{
  color:#212121;
  border-left: 3px solid #69f0ae;
}
.style-dropdown a:hover{
  background-color: #fff;
  color: #69f0ae;
}

.home-icon{
  padding-left:9px;
}

.blockquote-style{
  border-left: 5px solid #80d8ff;
}
