<!-- NodeJS -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>NodeJS - tutorial</title>
  <meta name = "viewport" content = "initial-scale=1, maximum-scale=1, user-scalable=no">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/animatecss/3.5.1/animate.min.css">
  <link rel="stylesheet" href="/css/node/node1css.css">

</head>
<body>

<% include ../templates/header %>

    <div class = "container">
      <div class = "row">
        <div class = "col s12">
          <h1 class = "center-align"><span class = "green-text text-accent-2">NodeJS</span></h1>
        </div>
      </div>

      <div class = "row">
        <div class = "col s12">
          <div class = "collection">
            <a href="#httpserver" class = "collection-item">Basic http server</a>
            <a href="#httprequest" class = "collection-item">Basic http request</a>
            <a href="#httprequestimage" class = "collection-item">Download an image from imgur!</a>
            <a href="#httpresponsehtml" class = "collection-item">Serve html from your server</a>
          </div>
        </div>
      </div>


    <div class = "row">
      <div class = "col s12">
        <h3>Basic http server</h3>
      </div>
      <div class = "col s12">
        <p>NodeJS provides us with helpful modules out of the box. One of these is called <span class = "red-text">http</span>. Using http
        we can start up a server that will respond with a greeting.</p>
        <pre class = "card panel grey darken-4">
          <code>
<span class = "red-text">var</span> http = <span class = "yellow-text text-lighten-1">require</span>(<span class = "green-text text-accent-3">"http"</span>);

http.createServer(<span class = "red-text">function</span>(request, response){
  response.<span class = "yellow-text text-lighten-1">write</span>(<span class = "green-text text-accent-3">"Hello there!"</span>);
  response.end();
}).listen(<span class = "blue-grey-text lighten-4">3000</span>);
          </code>
        </pre>
      </div>

      <div class = "col s12" id = "httprequest">
        <h3>Basic http request</h3>
      </div>
      <div class = "aaa col s12">
        <p>We can use the http module to make a request for a webpage.</p>
        <pre class = "card panel grey darken-4">
          <code>
<span class = "red-text">var</span> http = <span class = "yellow-text text-lighten-1">require</span>(<span class = "green-text text-accent-3">"http"</span>);

http.request({
  host: <span class = "green-text text-accent-3">"example.com"</span>,
  path: <span class = "green-text text-accent-3">"/"</span>
}, <span class = "red-text">function</span>(response){
  <span class = "red-text">var</span> webpage = <span class = "green-text text-accent-3">" "</span>;
  response.on(<span class = "green-text text-accent-3">"data"</span>, <span class = "red-text">function</span>(data){
    webpage += data;
  });
  response.on(<span class = "green-text text-accent-3">"end"</span>, <span class = "red-text">function</span>(){
    <span class = "blue-grey-text lighten-4">console</span>.<span class = "yellow-text text-lighten-1">log</span>(webpage);
  });
}).end();
          </code>
        </pre>
      </div>

      <div class = "col s12" id = "httprequestimage">
        <h3>Basic image download using http request</h3>
      </div>
      <div class = "xxx col s12">
        <p>Let's use <span class = "red-text">http.request</span> to fetch an image and then we'll use another module named <span class = "red-text">fs</span> to save that image.</p>
        <pre class = "card panel grey darken-4">
          <code>
<span class = "red-text">var</span> http = <span class = "yellow-text text-lighten-1">require</span>(<span class = "green-text text-accent-3">"http"</span>);
<span class = "red-text">var</span> fs = <span class = "yellow-text text-lighten-1">require</span>(<span class = "green-text text-accent-3">"fs"</span>);

<span class = "red-text">var</span> writeStream = fs.createWriteStream(<span class = "green-text text-accent-3">"ourImage.jpg"</span>);

http.request({
  host: <span class = "green-text text-accent-3">"i.imgur.com"</span>,
  path: <span class = "green-text text-accent-3">"/gmRbksB.jpg"</span>
}, <span class = "red-text">function</span>(response){
  response.on(<span class = "green-text text-accent-3">"data"</span>, <span class = "red-text">function</span>(data){
    writeStream.<span class = "yellow-text text-lighten-1">write</span>(data);
  });
}).end();
          </code>
        </pre>
      </div>

      <div class = "col s12" id = "httpresponsehtml">
        <h3>Serving html with your server</h3>
      </div>
      <div class = "yyy col s12">
        <p>Here we'll create a readable stream that pipes everything out into the response. Make sure to create an index.html file where this file is located.</p>
        <pre class = "card panel grey darken-4">
          <code>
<span class = "red-text">var</span> http = <span class = "yellow-text text-lighten-1">require</span>(<span class = "green-text text-accent-3">"http"</span>);
<span class = "red-text">var</span> fs = <span class = "yellow-text text-lighten-1">require</span>(<span class = "green-text text-accent-3">"fs"</span>);

http.createServer(<span class = "red-text">function</span>(req, res){
    <span class = "red-text">var</span> html = fs.createReadStream(<span class = "green-text text-accent-3">"index.html"</span>);
    html.pipe(res);
    html.on(<span class = "green-text text-accent-3">"end"</span>, <span class = "red-text">function</span>(){
      res.end();
    });
}).listen(<span class = "blue-grey-text lighten-4">4000</span>);


          </code>
        </pre>
      </div>

      <div class = "row">
        <div class = "col s12">
          <ul class="pagination">
            <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
            <li class="active blue darken-1"><a href="#!">1</a></li>
            <li class="waves-effect"><a href="/tutorials/node/2">2</a></li>
            <li class="waves-effect"><a href="/tutorials/node/2"><i class="material-icons">chevron_right</i></a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class = "row">
        <form class = "col s12" action="/comment" method = "POST">
          <div class = "row">
            <div class = "input-field col s12">
              <textarea id = "textarea1" class = "materialize-textarea" name = "textarea" length = "120" required></textarea>
              <label for="textarea1">Comment</label>
              <input type="submit" value = "submit" class = "btn">
              <input type="hidden" name="_csrf" value=<%= csrf %>>
              <input type="hidden" name="path" value="/tutorials/node/1">
            </div>
          </div>
        </form>
    </div>

    <div class = "row">
      <% for(var i = 0; i < comments.length; i++){ %>
        <div class = "card box-comment col s12">
          <h1 class = "box-comment-username"><%= comments[i].username %></h1>
          <h1 class = "box-comment-body"><%= comments[i].commentbody %></h1>
        </div>
      <% } %>
    </div>

    </div>


<% include ../templates/footer %>

  <script>
    function aaa(){
      $(".aaa").addClass("animated bounceInLeft");
    }
    function xxx(){
      $(".xxx").addClass("animated bounceInLeft");
    }
    function yyy(){
      $(".yyy").addClass("animated bounceInLeft");
    }
    var options = [
      {selector: ".aaa", offset: 60, callback: "aaa()"},
      {selector: ".xxx", offset: 60, callback: "xxx()"},
      {selector: ".yyy", offset: 60, callback: "yyy()"}
    ];
    Materialize.scrollFire(options);
  </script>
</body>
</html>
